/* a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.active-link {
  color: white;
  background-color: blue;
  padding: 4px 8px;
} */

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.active-item {
  font-weight: bold;
  color: green;
}
